#banner {
    background-color: #000000;
}

#banner_title {
    color: #ffffff;
    font-size:2em;
}

#nav_bar {
    background-color: #99ccff;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#content {
    width: 960px;
    text-align: center;
}
